.collection {
  padding: 64px 25px;
  border: 1px solid $color19;
  background: $color2;
  &__title {
    font-size: 14px;
    line-height: 17.14px;
    font-weight: 300;
    color: $color3;
    text-align: center;
    margin: 0 0 12px 0;
  }
  &__divider {
    &--pink {
      width: 63px;
      height: 3px;
      background-color: $color16;
      margin: 0 auto 12px;
    }
    &--grey {
      width: 175px;
      height: 1px;
      background: $color19;
      margin: 0 auto 50px;
    }
  }
  &__subtitle {
    display: block;
    font-size: 18px;
    line-height: 22.19px;
    font-weight: 300;
    text-align: center;
    color: $color22;
    margin: 0 0 32px;
  }
  &__description {
    max-width: 326px;
    width: 100%;
    margin: 0 auto 36px;
    font-size: 14px;
    line-height: 143%;
    text-align: center;
    color: $color23;
  }
  &__price {
    display: block;
    font-weight: 300;
    font-size: 24px;
    line-height: 31px;
    color: $color16;
    text-align: center;
    margin: 0 0 30px;
  }
}
.product-characteristics {
  &__filters-list {
    margin: 0 0 64px;
    @include flexCenter;
    gap: 7px;
    padding-right: 10px;
  }
  &__filters-list-item {
    @include flexCenterSpaceBetwen;
    max-width: 101.02px;
    gap: 10px;
  }
  &__filters-name {
    font-size: 10px;
    line-height: 12px;
    color: $color6;
  }
  &__button {
    display: flex;
    align-items: center;
    gap: 23px;
    padding: 10px 58px 8px 24px;
    margin: 0 auto 64.5px;
    background: none;
    border: 1px solid $color9;
    font-size: 16px;
    line-height: 19.16px;
    color: $color10;
    &-image {
      position: relative;
      top: 1px;
      width: 28px;
      height: 28px;
    }
  }
}
@media (min-width: 375px) {
  .product-characteristics {
    &__filters-list {
      gap: 25px;
    }
  }
}
@media (min-width: 768px) {
  .collection {
    &__subtitle {
      margin: 0 0 38px;
    }
    &__description {
      max-width: 555px;
      text-indent: 2px;
      letter-spacing: -0.1px;
      line-height: 126%;
      margin: 0 auto 39px;
    }
    &__price {
      margin: 0 0 64px;
    }
    &__divider {
      &--grey {
        width: 641px;
        margin: 0 auto 67px;
      }
    }
  }
  .product-characteristics {
    &__filters {
      &-list {
        max-width: 373px;
        width: 100%;
        margin: 0 auto 52px;
        gap: 22px;
        justify-content: space-between;
      }
      &-list-item {
        max-width: 100%;
      }
      &-name {
        font-size: 14px;
      }
      &-icon {
        width: 10.02px;
        height: 5.05px;
      }
    }
    &__button {
      margin: 0 auto;
    }
  }
}
@media (min-width: 1600px) {
  .collection {
    padding: 65px 0 63px;
    margin-top: -66px;
    position: relative;
    &__subtitle {
      margin: 0 0 48px;
    }
    &__description {
      line-height: 121%;
      margin: 0 auto 32px;
    }
    &__price {
      position: relative;
      left: -12px;
      margin: 0 0 63px;
    }
    &__divider {
      &--pink {
        margin: 0 auto 13px;
      }
      &--grey {
        margin: 0 auto 68px;
      }
    }
  }
  .product-characteristics {
    &__filters {
      &-list {
        max-width: 390px;
        padding-right: 20px;
      }
    }
  }
}
