body {
  font-family: $Lato;
  font-size: 14px;
  font-weight: 400;
}
.hidden {
  display: none;
}
.container {
  margin: 0 auto;
  max-width: 375px;
  width: 100%;
  padding: 0 8px;
  @media (min-width: 768px) {
    padding: 0 16px;
    max-width: 736px;
  }
  @media (min-width: 1000px) {
    max-width: 100%;
    padding: 0 32px;
  }
  @media (min-width: 1600px) {
    max-width: 1140px;
  }
}

// ====form====
.form-block {
  max-width: 360px;
  width: 100%;
  min-height: 272px;
  &__form-title {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #222;
    margin: 0 0 20px;
  }
}
.form {
  &__input {
    max-width: 360px;
    width: 100%;
    min-height: 44px;
    border: 1px solid $color26;
    font-size: 13px;
    line-height: 123%;

    padding: 12px 17px 15px;
    margin-bottom: 21px;
    &__input::placeholder {
      font-family: $Lato;
      color: $color1;
    }
    &_country::placeholder {
      color: $color27;
    }
  }
  & div:last-of-type &__input {
    margin-bottom: 23px;
  }

  &__button {
    width: 101.41px;
    height: 35px;
    border: 1px solid $color26;
    background-color: transparent;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 11px;
    color: $color29;
    @media (min-width: 768px) {
      text-transform: uppercase;
    }
  }
}
// ====END-form====
