body {
  font-family: $Lato;
  font-size: 14px;
  font-weight: 400;
}
.hidden {
  display: none;
}
.container {
  margin: 0 auto;
  max-width: 375px;
  width: 100%;
  padding: 0 8px;
  @media (min-width: 768px) {
    padding: 0 16px;
    max-width: 736px;
  }
  @media (min-width: 1000px) {
    max-width: 100%;
    padding: 0 32px;
  }
  @media (min-width: 1600px) {
    max-width: 1140px;
  }
}
// ====search-icon====
.search {
  position: relative;
  width: 300px;
  margin: 0 auto;
  height: 29px;
  &__input {
    position: absolute;
    top: 0;
    left: 0;
    height: 29px;
    width: 0;
    padding: 0 15px;
    border: none;
    border-bottom: 2px solid transparent;
    outline: none;
    background: transparent;
    transition: 0.6s linear;
    z-index: 2;
    cursor: pointer;
    &:focus {
      cursor: auto;
      width: 200px;
      z-index: 1;
      border-bottom: 2px solid #f9f0da;
      background: $color2;
      @media (min-width: 768px) {
        width: 300px;
      }
    }
  }
  &__icon {
    position: absolute;
    top: 0;
    right: 0;
    background: url(../../images/header/search.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border: none;
    height: 26.79px;
    width: 26px;
    cursor: pointer;
  }
}
// ====END-search-icon====
// ====form====
.form-block {
  max-width: 360px;
  width: 100%;
  min-height: 272px;
  &__form-title {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #222;
    margin: 0 0 20px;
  }
}
.form {
  &__input {
    max-width: 360px;
    width: 100%;
    min-height: 44px;
    border: 1px solid $color26;
    font-size: 13px;
    line-height: 123%;
    padding: 12px 17px 15px;
    margin-bottom: 21px;
    &__input::placeholder {
      font-family: $Lato;
      color: $color1;
    }
    &_country::placeholder {
      color: $color27;
    }
    @media (min-width: 768px) {
      margin-bottom: 20px;
    }
  }
  & div:last-of-type &__input {
    margin-bottom: 23px;
  }

  &__button {
    width: 101.41px;
    height: 35px;
    border: 1px solid $color26;
    background-color: transparent;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 11px;
    color: $color29;
    @media (min-width: 768px) {
      text-transform: uppercase;
    }
  }
}
// ====END-form====
