.new-arrivals {
  background: $color14;
  min-height: 148px;
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: inherit;
  }
  &__title {
    margin: 24px 0 32px;
    color: $color3;
    font-size: 24px;
    font-weight: normal;
    line-height: 29px;
  }
  &__nav {
    padding-right: 5px;
    max-width: 209px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &-link {
      color: $color15;
      font-size: 14px;
      font-weight: 300;
      line-height: 17px;
    }
    &-link:last-of-type {
      color: $color3;
      font-size: 14px;
      font-weight: 700;
      line-height: 17px;
    }
    span {
      @extend .new-arrivals__nav-link;
    }
  }
}
@media (min-width: 768px) {
  .new-arrivals {
    .container {
      flex-direction: row;
      justify-content: space-between;
    }
    &__title {
      margin: 0;
    }
  }
}
@media (min-width: 768px) and (max-width: 1599px) {
  .new-arrivals {
    .container {
      padding: 0;
    }
  }
}
